<h3>Articles</h3>
<demo-collection-info [collection]="articles"></demo-collection-info>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Is Published</th>
            <th>Date updated</th>
        </tr>
    </thead>
    <!-- Use user example. @deprected since version 2.0.0 -->
    <tr *ngFor="let article of articles.data">
        <td>{{ article.id }}</td>
        <td>
            <a [routerLink]="['/articles', article.id]">{{ article.attributes.title }}</a>
        </td>
        <td>{{ article.attributes.isPublished}}</td>
        <td>{{ article.attributes.updatedAt | date }}</td>
    </tr>
</table>
<demo-collection-paginator [collection]="articles"></demo-collection-paginator>
