<h3>users</h3>
<demo-collection-info [collection]="users"></demo-collection-info>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tr *ngFor="let user of users.data; trackBy: users.trackBy">
        <td>{{ user.id }}</td>
        <td>
            <a [routerLink]="['/users', user.id]">{{ user.attributes.name }}</a>
        </td>
        <td>{{ user.type}}</td>
        <!-- <td><button (click)="delete(user)">Delete</button></td> -->
    </tr>
</table>
<demo-collection-paginator [collection]="users"></demo-collection-paginator>
<!-- <p>
<button ng-click="update()">Update user</button>
<button ng-click="removeRelationship()">Remove relationship</button>
</p> -->
